
// css new
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.text-secondary {
    color: #666575 !important;
    text-decoration: none;
}
.fs-6 {
    font-size: 1rem !important;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.event-search {
    padding-bottom: 100px;
    padding-top: 0px;
    background-color: #ebebf2;
}
.event-search-bar {
    margin-bottom: 40px;
    margin-top: -35px;
}
.event-search-bar .form-input-group {
    position: relative;
}
.event-search-bar .form-input-group input {
    height: 70px;
    padding-left: 50px;
    border-radius: 6px;
    border-color: transparent;
}

.event-search-bar .form-input-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding: 15px 32px !important;
}
.button--primary {
    background-color: #1089ff;
}
.button-lg {
    padding: 19px 32px;
}
.button-md, .button-lg {
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
button {
    display: inline-block;
    padding: 12px 19px;
    border: 0px;
    font-size: 16px;
    line-height: 19.2px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.2s linear;
    text-decoration: none;
}
.event-search-bar .form-input-group svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    color: #42414b;
}
@media (min-width: 992px){
    .d-lg-block {
        display: block !important;
    }
}

.sidebar-filter .accordion-item {
    border: 0px;
    overflow: hidden;
    padding: 0px 24px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}
.accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(25, 25, 34, 0.125);
}
.sidebar-filter .accordion-header {
    padding: 15px 0px;
}
.accordion-collapse {
    border: none !important;
}

.sidebar-filter .accordion-button:not(.collapsed) {
    color: inherit !important;
    background-color: transparent;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-button:not(.collapsed) {
    color: #0264ed !important;
    background-color: white;
}
.sidebar-filter .accordion-button {
    padding: 0px;
    font-size: 20px;
    color: #42414b;
    box-shadow: none;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
    background-color: transparent;
    justify-content: space-between;
}
.sidebar-filter .accordion-body {
    padding: 30px 0px;
    border-top: 1px solid rgba(143, 143, 163, 0.5);
}
.accordion-body {
    border-top: 1px solid #e5e5ee;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../../assets/images/down-arrow.svg");
    transform: rotate(-180deg);
}
.sidebar-filter .accordion-body__item .check-box {
    display: flex;
    align-items: center;
}
.sidebar-filter .accordion-body__item .check-box .checkbox-primary[type='checkbox'] {
    cursor: pointer;
    overflow: hidden;
    margin-right: 8px;
    border-radius: 3px;
    position: relative;
    border: 2px solid #8f8fa3;
}
.checkbox-primary[type='checkbox'] {
    width: 24px;
    height: 24px;
    border: 2px solid #908fa5;
}
.sidebar-filter .accordion-body__item .check-box label {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #666575;
    text-transform: capitalize;
}
.sidebar-filter .accordion-body__item .check-details {
    font-size: 14px;
    color: #8f8fa3;
    line-height: 21px;
    font-weight: 400;
}
.accordion-body p {
    font-size: 16px;
    line-height: 24px;
    color: #8f8fa3;
}

.sidebar-filter .accordion-body__item {

    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.price-range-block__inputWrapper {

    align-items: center;
    margin-bottom: 30px;
}
.price-range-block__inputWrapper {
    justify-content: space-between;
}
.price-range-block__inputWrapper input {
    font-size: 16px;
    line-height: 24px;
    color: #666575;
}
.price-range-field {
    color: black;
    width: 50%;
    min-width: 16%;
    border: 1px solid #8f8fa3;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.price-range-block__inputWrapper .angle-btn {
    background: #1089ff;
    margin-left: 12px;
    color: #fff;
    width: 52px;
    height: 52px;
    outline: none;
    border: 0px;
    border-radius: 4px;
}
.event-search-results-heading {

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-search-content {
    margin-top: 25px;
}
.contentCard {
    position: relative;
    min-width: 0;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    word-wrap: break-word;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
}
.contentCard-top a {
    width: 100%;
    height: 245px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    
}
.contentCard-top img {
    cursor: pointer;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.contentCard-bottom {
    padding: 16px;
    padding-bottom: 0px;
}
.contentCard-bottom h5, .contentCard-bottom .h5 {
    margin-bottom: 16px;
}
.font-title--card {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #202029;
    text-decoration: none;
}
