<!-- <div class="breadcrumb-banner-area bg-img-2 bg-opacity-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><span>Courses</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="courses-area  pt-4">
    <div class="container">
        <div class="section-title text-center">
            <h3>Our Courses</h3>
            <p>Our preschool program has six dedicated classes</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3" *ngFor="let card of cards">
                <div class="single-courses mb-30">
                    <div class="courses-img">
                        <a href="#"><img [src]="card.imgSrc" alt="">
                            <span class="class-dates">{{ card.dates }}</span>
                        </a>
                    </div>
                    <div class="courses-text">
                        <div class="class-des">
                            <h3><a href="#">{{ card.title }}</a></h3>
                            <div class="class-schedule">
                                <span>Duration: {{ card.duration }}</span>
                                <span>Sit Available: {{ card.sitAvailable }}</span>
                            </div>
                            <p>{{ card.description }}</p>
                            <span class="arrow"><a (click)="goToCourseDetail(card.title)">Read More</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Breadcrumb Starts Here -->
<div class="event-sub-section event-sub-section--spaceY eventsearch-sub-section">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center bg-transparent p-0 mb-0">
                <li class="breadcrumb-item">
                    <a href="#" class="fs-6 text-secondary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="fs-6 text-secondary">course</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb Ends Here -->
<section class="section event-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="event-search-bar">
                    <form action="#">
                        <div class="form-input-group">
                            <input type="text" class="form-control" placeholder="Search Course...">
                            <button class="button button-lg button--primary" type="submit" id="button-addon2">
                                Search
                            </button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block">
                <div class="accordion sidebar-filter" id="sidebarFilter">
                    <mat-expansion-panel class="mb-4" [expanded]="isFirst" >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Category
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="accordion-body">
                            <form action="" method="get">
                                <input type="hidden" name="_token" value="T3xRk1LHc48EfkEJ9IcoIlcMSTKYqjvwFh2PNuaC"
                                    autocomplete="off">
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="category" value=""
                                            checked="">
                                        <label> All </label>
                                    </div>
                                    <p class="check-details">
                                        5
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="2">
                                        <label> Graphics Desgin </label>
                                    </div>
                                    <p class="check-details">
                                        1
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="4">
                                        <label> Web Design </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="5">
                                        <label> Web Development </label>
                                    </div>
                                    <p class="check-details">
                                        2
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="6">
                                        <label> Digital Marketing </label>
                                    </div>
                                    <p class="check-details">
                                        1
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="37">
                                        <label> Video Editing </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="38">
                                        <label> 2D Animation </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="39">
                                        <label> 3D Animation </label>
                                    </div>
                                    <p class="check-details">
                                        1
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="40">
                                        <label> Mobile Development </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="41">
                                        <label> Game Development </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="42">
                                        <label> Database Design &amp; Development </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="43">
                                        <label> Data Science </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="44">
                                        <label> Entrepreneurship </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="45">
                                        <label> Network Technology </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="46">
                                        <label> Hardware </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="47">
                                        <label> Software &amp; Security </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="48">
                                        <label> Operating System &amp; Server </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary" name="categories[]"
                                            value="57">
                                        <label> chhabi </label>
                                    </div>
                                    <p class="check-details">
                                        0
                                    </p>
                                </div>
                                <button type="submit" class="btn btn-primary">Apply Filter</button>
                            </form>
                        </div>
                    </mat-expansion-panel>

                    <!-- Search by Level  -->
                    <mat-expansion-panel  class="mb-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Level
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="accordion-body">
                            <form action="#">
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> All </label>
                                    </div>
                                    <p class="check-details">
                                        1,54,750
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> Intermediate </label>
                                    </div>
                                    <p class="check-details">
                                        35,790
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> Advanced </label>
                                    </div>
                                    <p class="check-details">
                                        5,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> Expert </label>
                                    </div>
                                    <p class="check-details">
                                        765
                                    </p>
                                </div>
                            </form>
                        </div>
                    </mat-expansion-panel>

                    <!-- Search by Price  -->

                    <mat-expansion-panel  class="mb-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Price
                            </mat-panel-title>
                            <mat-panel-description>
                               
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="accordion-body">
                            <div class="price-range">
                                <div>
                                    <div class="price-range-block">
                                        <form class="d-flex price-range-block__inputWrapper" action="#">
                                            <input type="number" min="0" max="5000"
                                                oninput="validity.valid||(value='0');" id="min_price"
                                                class="price-range-field"
                                                style="width: 105px; height: 50px; border-radius: 4px; padding: 15px;">
                                            <span>to</span>
                                            <input type="number" min="0" max="5000"
                                                oninput="validity.valid||(value='5000');" id="max_price"
                                                class="price-range-field"
                                                style="width: 125px; height: 50px; padding: 15px; border-radius: 4px;">
                                            <button class="angle-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-chevron-right">
                                                    <polyline points="9 18 15 12 9 6"></polyline>
                                                </svg>
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <!-- Search by Rating  -->
                    <mat-expansion-panel class="mb-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Rating
                            </mat-panel-title>
                            <mat-panel-description>
                    
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="accordion-body">
                            <form action="#">
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> All </label>
                                    </div>
                                    <p class="check-details">
                                        1,54,750
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 1 Star and higher </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 2 Star and higher </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 3 Star and higher </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 4 Star and higher </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 5 Star </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                            </form>
                        </div>
                    </mat-expansion-panel>

                    <!-- Search by Duration  -->
                    <mat-expansion-panel  class="mb-4">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Duration
                            </mat-panel-title>
                            <mat-panel-description>
                               
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="accordion-body">
                            <form action="#">
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> All </label>
                                    </div>
                                    <p class="check-details">
                                        1,54,750
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 0 - 5 minutes </label>
                                    </div>
                                    <p class="check-details">
                                        45,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 5 - 10 minutes </label>
                                    </div>
                                    <p class="check-details">
                                        35,790
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 10 - 15 minutes </label>
                                    </div>
                                    <p class="check-details">
                                        5,770
                                    </p>
                                </div>
                                <div class="accordion-body__item">
                                    <div class="check-box">
                                        <input type="checkbox" class="checkbox-primary">
                                        <label> 15+ minutes </label>
                                    </div>
                                    <p class="check-details">
                                        765
                                    </p>
                                </div>
                            </form>
                        </div>

                    </mat-expansion-panel>
                    <!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="durationAcc">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#durationCollapse" aria-expanded="false"
                                aria-controls="durationCollapse">
                                Duration
                            </button>
                        </h2>
                        <div id="durationCollapse" class="accordion-collapse collapse" aria-labelledby="durationAcc"
                            data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form action="#">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary">
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">
                                            1,54,750
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary">
                                            <label> 0 - 5 minutes </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary">
                                            <label> 5 - 10 minutes </label>
                                        </div>
                                        <p class="check-details">
                                            35,790
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary">
                                            <label> 10 - 15 minutes </label>
                                        </div>
                                        <p class="check-details">
                                            5,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary">
                                            <label> 15+ minutes </label>
                                        </div>
                                        <p class="check-details">
                                            765
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="event-search-results">
                    <div class="event-search-results-heading">
                        <div class="nice-select" tabindex="0">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <p>5 results found.</p>
                    </div>
                </div>
                <div class="row event-search-content">
                    <div class="col-md-6 mb-4" *ngFor="let card of cards">
                        <div class="contentCard contentCard--course">
                            <div class="contentCard-top">
                                <a (click)="goToCourseDetail(card.title)">
                                    <img [src]="card.imgSrc" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="contentCard-bottom">
                                <h5>
                                    <a (click)="goToCourseDetail(card.title)" class="font-title--card">{{ card.title }}</a>
                                </h5>
                                <div class="contentCard-info d-flex align-items-center justify-content-between">
                                    <a href="" class="contentCard-user d-flex align-items-center">
                                        <img src="https://wdpf54.tech/elearning/public/uploads/users/Instructor_Burhan Uddin Fuad_137.jpg"
                                            alt="Instructor Image" class="rounded-circle" height="34" width="34">
                                        <p class="font-para--md">Burhan Uddin Fuad</p>
                                    </a>
                                    <div class="price">
                                        <span>5000.00</span>
                                        <del>9000.00</del>
                                    </div>
                                </div>
                                <div class="contentCard-more">
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/images/star.png" alt="star">
                                        </div>
                                        <span>4.5</span>
                                    </div>
                                    <div class="eye d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/images/eye.png" alt="eye">
                                        </div>
                                        <span>24,517</span>
                                    </div>
                                    <div class="book d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/images/book.png" alt="location">
                                        </div>
                                        <span>35 Lesson</span>
                                    </div>
                                    <div class="clock d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/images/Clock.png" alt="clock">
                                        </div>
                                        <span>3 Hours</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>