 .spacer {
    flex: 1 1 auto;
}
.navbar_bg{
  background: #10182F;
}
.registerBtn{
  border: 1px solid #fff;
}

header .navbar {
  padding: 0px;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.navbar-light .navbar-brand {
  color: rgba(25, 25, 34, 0.9);
}
.menu-icon-container {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.img-fluid {
  max-width: 100%; 
  height: auto;
}
.menu-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #202029;
  margin-top: -2px;
  margin-left: -15px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
header .navbar-nav .nav-item {
  margin-right: 32px;
  position: relative;
}

header .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #42414b;
  padding: 18px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #1089ff;
}
header .navbar-nav .nav-item .nav-link:hover::after {
  height: 2px;
}

header .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 5px;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background-color: #1089ff;
}
.button--dark {
  background-color: #202029;
}
.registerBtn {
  display: inline-block;
  padding: 12px 19px;
  border: 0px;
  font-size: 16px;
  line-height: 19.2px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.nav-shadow {
  -webkit-box-shadow: 0px 10px 16px rgba(9, 8, 78, 0.05);
  box-shadow: 0px 10px 16px rgba(9, 8, 78, 0.05); 
}