<section class="main-banner" style="background-image: url(assets/images/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-lg-0 order-2 order-lg-0 d-flex align-items-center">
                <div class="banner-two-start">
                    <h1 class="font-title--lg">Unlock Knowledge Anywhere, Anytime with Experts.</h1>
                    <p>
                        Our commitment is to guide you to the finest online courses, offering expert insights whenever
                        and wherever you are.
                    </p>
                    <div class="search-button">
                        <a class="button button-lg button--primary" (click)="navigateToRegister()">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-0">
                <div class="main-banner-end">
                    <img src="assets/images/banner-image-01.png" alt="image" class="img-fluid" width="515" height="700">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section browse-categories">
    <div class="container">
        <h2 class="font-title--md text-center mb-0">Browse Course with Top Categories</h2>
        <div class="browse-categories-item">
            <div class="row">
                <ngx-slick-carousel class="carousel col-12" #slickModal="slick-carousel" [config]="slideConfig">
                  <div ngxSlickItem *ngFor="let slide of slides" class="slide mb-4 col-md-4 col-sm-6" style="margin-right: 12px;">
                    <div class="card mx-auto card-hover aspect-ratio">
                      <img class="card-img-top" [src]="slide.img" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ slide.heading }}</h5>
                        </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
          </div>
       <div class="col-lg-12 text-center">
        <a class="button button-lg button--primary" (click)="navigateToCourses()" >Browse all Courses</a>
    </div>
    </div>
    <div class="browse-categories-shape">
        <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/shape/dots/dots-img-11.png" alt="shape" class="img-fluid shape-01">
        <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/shape/line01.png" alt="shape" class="img-fluid shape-02">
    </div>
</section>
<section class="section section--bg-offwhite-three featured-popular-courses main-popular-course">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="featured-popular-courses-heading d-flex align-content-center justify-content-between">
                    <div class="main-heading">
                        <h3 class="font-title--md">Our Popular Courses</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    <div class="row">
                        <!-- <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#">
                                        <img src="assets/images/data-science-dh.jpg" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom">
                                    <h5>
                                        <a href="#" class="font-title--card">Data Science</a>
                                    </h5>
                                    <div class="contentCard-info d-flex align-items-center justify-content-between">
                                        <a href="#" class="contentCard-user d-flex align-items-center">
                                            <img src="https://wdpf54.tech/elearning/public/uploads/users/Instructor_Burhan Uddin Fuad_137.jpg"
                                                alt="client-image" class="rounded-circle" height="34" width="34">
                                            <p class="font-para--md">Burhan Uddin Fuad</p>
                                        </a>
                                        <div class="price">
                                            <span>5000.00</span>
                                        </div>
                                    </div>
                                    <div class="contentCard-more">
                                        <div class="d-flex align-items-center">
                                            <div class="icon">
                                                <img src="assets/images/star.png" alt="star">
                                            </div>
                                            <span>4.5</span>
                                        </div>
                                        <div class="eye d-flex align-items-center">
                                            <div class="icon">
                                                <img src="assets/images/eye.png" alt="eye">
                                            </div>
                                            <span>24,517</span>
                                        </div>
                                        <div class="book d-flex align-items-center">
                                            <div class="icon">
                                                <img src="assets/images/book.png" alt="location">
                                            </div>
                                            <span>35 Lesson</span>
                                        </div>
                                        <div class="clock d-flex align-items-center">
                                            <div class="icon">
                                                <img src="assets/images/Clock.png" alt="clock">
                                            </div>
                                            <span>3 Hours</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/aws-dh.png" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">AWS</a>
                                    </h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#">
                                        <img src="assets/images/python-datascience-dh.jpg" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">Data Science with Python</a>
                                    </h5>
                                    
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/devops-dh.jpg" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">Devops</a>
                                    </h5>
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/python-dh.jpg" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">Python</a>
                                    </h5>
                                   
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/RPA-dh.jpg"  alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">RPA</a>
                                    </h5>
                                  
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/saleforce-dh.jpg" alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">Saleforce</a>
                                    </h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="#"><img src="assets/images/selenium-dh.png"
                                            alt="images" class="img-fluid"></a>
                                </div>
                                <div class="contentCard-bottom text-center">
                                    <h5>
                                        <a href="" class="font-title--card">Selenium</a>
                                    </h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <!-- <a routerLink="/courses" class="button button-lg button--primary">Browse all
                                Courses</a> -->
                            <button type="button" class="button button-lg button--primary" (click)="navigateToCourses()">Browse all  Courses</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="featured-popular-courses-shape">
        <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/shape/dots/dots-img-12.png" alt="Shape" class="img-fluid dot-06">
        <img src="https://wdpf54.tech/elearning/public/frontend/dist/images/shape/triangel.png" alt="Shape" class="img-fluid dot-07">
    </div> -->
</section>
<section class="section feature section section--bg-offwhite-one">
    <div class="container">
        <h2 class="font-title--md text-center">Why You'll Learn with Tech tutor</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="cardFeature">
                    <div class="cardFeature__icon cardFeature__icon--bg-g">
                        <svg width="32" height="28" viewBox="0 0 32 28" fill="none">
                            <path
                                d="M2 2H10.4C11.8852 2 13.3096 2.5619 14.3598 3.5621C15.41 4.56229 16 5.91885 16 7.33333V26C16 24.9391 15.5575 23.9217 14.7699 23.1716C13.9822 22.4214 12.9139 22 11.8 22H2V2Z"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M30 2H21.6C20.1148 2 18.6904 2.5619 17.6402 3.5621C16.59 4.56229 16 5.91885 16 7.33333V26C16 24.9391 16.4425 23.9217 17.2302 23.1716C18.0178 22.4214 19.0861 22 20.2 22H30V2Z"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </div>
                    <h5 class="font-title--xs">250k online course</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed commodo enim Fusce sed.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cardFeature">
                    <div class="cardFeature__icon cardFeature__icon--bg-b">
                        <svg width="28" height="27" viewBox="0 0 28 27" fill="none">
                            <path
                                d="M19.3855 12.224C21.8743 12.224 23.8915 10.2067 23.8915 7.71794C23.8915 5.23054 21.8743 3.21191 19.3855 3.21191"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path
                                d="M21.4575 17.1211C22.201 17.1717 22.939 17.2783 23.6675 17.4395C24.6775 17.6404 25.8938 18.0546 26.3257 18.9607C26.6018 19.5415 26.6018 20.218 26.3257 20.7989C25.8952 21.705 24.6775 22.1191 23.6675 22.3269"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.5994 18.0913C15.6425 18.0913 19.9504 18.8553 19.9504 21.9071C19.9504 24.9604 15.6699 25.7503 10.5994 25.7503C5.55624 25.7503 1.24976 24.9877 1.24976 21.9345C1.24976 18.8813 5.52891 18.0913 10.5994 18.0913Z"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.5993 13.7349C7.27274 13.7349 4.60767 11.0684 4.60767 7.74188C4.60767 4.41669 7.27274 1.75024 10.5993 1.75024C13.9259 1.75024 16.5923 4.41669 16.5923 7.74188C16.5923 11.0684 13.9259 13.7349 10.5993 13.7349Z"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </div>
                    <h5 class="font-title--xs">Expert Instructors</h5>
                    <p>
                        Vivamus interdum neque massa, eget mattis mi gravida eget. Donec et dictum justo. Vivamus
                        interdum.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cardFeature">
                    <div class="cardFeature__icon cardFeature__icon--bg-r">
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M25.2502 13.2495C25.2502 19.8774 19.8781 25.2495 13.2502 25.2495C6.62235 25.2495 1.25024 19.8774 1.25024 13.2495C1.25024 6.62162 6.62235 1.24951 13.2502 1.24951C19.8781 1.24951 25.2502 6.62162 25.2502 13.2495Z"
                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M17.7021 17.0667L12.8113 14.1491V7.86108" stroke="currentColor" stroke-width="2.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <h5 class="font-title--xs">Lifetime Access</h5>
                    <p>
                        Vivamus cursus libero quis lobortis mattis. Suspendisse in malesuada mi. Maecenas vel
                        euismod turpis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section learning-rules">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-0">
                <div class="learning-rules-starts">
                    <h2 class="font-title--md">
                        Tech Tutor Simple <br class="d-none d-md-block">
                        Learning Steps
                    </h2>
                    <div class="learning-rules__wrapper">
                        <div class="learning-rules-item">
                            <div class="item-number"><span>01.</span></div>
                            <div class="item-text">
                                <h6>Make Your Own Place.</h6>
                                <p>
                                    Fusce dictum, velit eu placerat consectetur, ante nisl auctor magna, sit amet
                                    fringilla urna nibh a risus.
                                </p>
                            </div>
                        </div>
                        <div class="learning-rules-item">
                            <div class="item-number"><span>02.</span></div>
                            <div class="item-text">
                                <h6>Find Best Course With Better Filtter.</h6>
                                <p>
                                    Morbi id est a risus sollicitudin maximus. Fusce lorem neque, tincidunt vel
                                    rhoncus eget, convallis ullamcorper sem.
                                </p>
                            </div>
                        </div>
                        <div class="learning-rules-item">
                            <div class="item-number"><span>03.</span></div>
                            <div class="item-text">
                                <h6>And Become a Master in Your Field.</h6>
                                <p>
                                    Sed pulvinar dignissim neque, ac consectetur urna tincidunt vel. Sed congue
                                    nulla sed tempus ultrices.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="button button-lg button--primary">Start Learning</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-0">
                <div class="learning-rules-ends">
                    <img src="assets/images/hero-img-01.jpg" alt="img" class="img-fluid rounded">
                    <div class="learning-rules-ends-circle">
                        <img src="assets/images/l03.png" alt="shape" class="img-fluid">
                    </div>
                    <div class="earning-rules-ends-shape">
                        <img src="assets/images/l04.png" alt="shape" class="img-fluid shape-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learning-rules-shape">
        <img src="assets/images/dots-img-16.png" alt="shape" class="img-fluid shape-01">
        <img src="assets/images/l02.png" alt="shape" class="img-fluid shape-02">
    </div>
</section>