.cardFeature {
  padding: 32px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all 0.2s linear;
  border: 1px solid #ebebf2;
}

.cardFeature__icon--bg-g {
  background: rgba(0, 175, 146, 0.1);
}

.cardFeature__icon {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 32px;
  justify-content: center;
  transition: all 0.2s linear;
}

.font-title--xs {
  font-size: 24px;
  line-height: 36px;
  color: #42414b;
  font-weight: 500;
}

.cardFeature p {
  font-size: 16px;
  line-height: 24px;
  color: #8f8fa3;
  font-weight: 400;
}

.cardFeature__icon--bg-b {
  background: rgba(16, 137, 255, 0.1);
}

.cardFeature__icon--bg-r {
  background: rgba(241, 92, 76, 0.1);
}

.cardFeature__icon--bg-g svg {
  color: #00af91;
}

.cardFeature__icon--bg-b svg {
  color: #1089ff;
}

.cardFeature__icon--bg-r svg {
  color: #f15c4c;
}

.cardFeature:hover .cardFeature__icon--bg-r {
  background: #f15c4c;
}

.cardFeature:hover .cardFeature__icon--bg-r svg {
  color: #fff !important;
}

.cardFeature:hover .cardFeature__icon--bg-b {
  background: #1089ff;
}

.cardFeature:hover .cardFeature__icon--bg-g svg {
  color: #fff !important;
}

.cardFeature:hover .cardFeature__icon--bg-g svg,
.cardFeature:hover .cardFeature__icon--bg-b svg,
.cardFeature:hover .cardFeature__icon--bg-r svg {
  color: #fff !important;
}

.cardFeature:hover .cardFeature__icon--bg-g {
  background: #00af92;
}

@media (min-width: 1201px) and (max-width: 1499px) {

  .main-banner,
  .learning-rules {
    overflow: hidden !important;
  }
}

@media (max-width: 575px) {
  .main-banner-end img {
    display: none;
  }

  .main-banner {
    padding-bottom: 100px !important;
  }
}

@media (max-width: 991px) {
  .main-banner {
    padding-top: 90px !important;
  }

  .main-banner-end img {
    height: 670px;
    object-fit: cover;
  }

  .banner-two-start {
    text-align: left;
  }

  .main-banner {
    padding-top: 90px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner-end {
    margin-right: 0 !important;
  }

}

@media (min-width: 320px) and (max-width: 574px) {

  .banner-two-start h1,
  .banner-two-start .h1,
  .banner-two-start p {
    text-align: left;
  }

  .banner-two-start p {
    text-align: left;
  }

  .banner-two-start p {
    margin-right: 0px;
  }


}

@media (max-width: 480px) {
  .font-title--lg {
    font-size: 32px !important;
    line-height: 42px !important;
  }
}

@media (max-width: 767px) {
  .font-title--lg {
    font-size: 48px;
    line-height: 58px;
  }

  .banner-two-start p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
}

.main-banner {
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-two-start h1,
.banner-two-start .h1 {
  margin-bottom: 20px;
}

.font-title--lg {
  font-size: 56px;
  color: #202029;
  font-weight: 600;
  line-height: 70px;
}

.font-title--lg,
.font-title--md,
.font-title--sm,
.font-title--xs {
  text-transform: capitalize;
}

.banner-two-start p {
  max-width: 525px;
  color: #666575;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

.main-banner-end {
  margin-right: -50px;
}

.browse-categories {
  position: relative;
}

.section--bg-offwhite-three {
  background: rgba(235, 235, 242, 0.5);
}

.section {
  position: relative;
  padding: 100px 0px;
}

.featured-popular-courses-heading .main-heading h3,
.featured-popular-courses-heading .main-heading .h3 {
  color: #202029;
}

.font-title--md {
  font-size: 40px;
  line-height: 50px;
}

.tab-content>.active {
  display: block;
}

.fade {
  transition: opacity 0.15s linear;
}

.featured-popular-courses .contentCard {
  margin-bottom: 24px;
}

.contentCard {
  position: relative;
  min-width: 0;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  word-wrap: break-word;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
}

.contentCard-top a {
  width: 100%;
  height: 245px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.contentCard-bottom {
  padding: 16px;
  padding-bottom: 0px;
}

.contentCard-bottom h5,
.contentCard-bottom .h5 {
  margin-bottom: 16px;
}

a,
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

.contentCard-top img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.font-title--card {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #202029;
}

.contentCard-info {
  margin: 12px 0px;
}

.contentCard-info .price span {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #42414b;
  font-family: 'Poppins', sans-serif;
}

.contentCard-info .price del {
  font-size: 14px;
  line-height: 21px;
  color: #8f8fa3;
}

.contentCard-more {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  position: relative;
  align-items: center;
}

.contentCard-more>div {
  margin-right: 25px;
}

.contentCard-more .icon {
  margin-right: 4px;
  flex-shrink: 0;
}

.contentCard-more span {
  font-size: 14px;
  color: #666575;
  font-weight: 400;
  line-height: 21px;
  white-space: nowrap;
  text-transform: capitalize;
}

.font-para--md {
  font-size: 14px;
  line-height: 21px;
  color: #8585a3;
}

.contentCard-user p {
  color: #202029;
  margin: 0;
}

.contentCard-user img {
  margin-right: 8px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.align-items-center {
  align-items: center !important;
}

.featured-popular-courses .button {
  margin-top: 30px;
}

.button--primary {
  background-color: #1089ff;
}

.button-lg {
  padding: 19px 32px;
}

.button {
  display: inline-block;
  padding: 12px 19px;
  border: 0px;
  font-size: 16px;
  line-height: 19.2px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

.section--bg-offwhite-one {
  background: rgba(235, 235, 242, 0.7);
}

.font-title--md,
.font-title--xs {
  font-weight: 700;
  color: #202029;
}

.cardFeature:hover {
  box-shadow: 0px 25px 80px rgba(10, 9, 86, 0.12);
}

@media (min-width: 1201px) and (max-width: 1499px) {

  .main-banner,
  .learning-rules {
    overflow: hidden !important;
  }
}

@media (max-width: 1200px) {
  .learning-rules {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .learning-rules {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 50px 0px;
  }
}

.section .font-title--md {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

.learning-rules__wrapper {
  margin-bottom: 40px;
}

.learning-rules-ends {
  padding-left: 80px;
  margin-right: -80px;
  position: relative;
  z-index: 2;
}

.rounded {
  border-radius: 0.25rem !important;
}

.learning-rules-ends-circle img {
  position: absolute;
  left: 220px;
  top: -48px;
}

.learning-rules-ends .earning-rules-ends-shape .shape-1 {
  top: 250px;
  right: 20%;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}

.learning-rules-ends .earning-rules-ends-shape img {
  position: absolute;
  z-index: -2;
}

.learning-rules-shape .shape-01 {
  top: 200px;
  left: 185px;
}

@media (min-width: 1201px) and (max-width: 1499px) {

  .main-become-instructor-shape,
  .main-events-featured-shape,
  .main-instructor-featured-shape,
  .about-services-shape,
  .learning-rules-shape,
  .featured-popular-courses-shape,
  .browse-categories-shape {
    display: none;
  }
}

.learning-rules-shape img {
  position: absolute;
  z-index: -1;
}

@media (min-width: 320px) and (max-width: 574px) {
  .learning-rules-ends>img {
    height: auto;
  }
}

@media (max-width: 991px) {
  .learning-rules-ends>img {
    height: 450px;
  }

  .learning-rules-ends {
    padding-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 767px) {
  .learning-rules-ends>img {
    height: 350px;
  }
}

@media (max-width: 991px) {

  .learning-rules-ends {
    display: flex !important;
    justify-content: center;
    margin-bottom: 30px;
  }

  .feature .cardFeature {
    margin-bottom: 16px;
  }


}

@media (min-width: 320px) and (max-width: 574px) {
  .learning-rules-ends>img {
    height: auto;
  }
}

@media (max-width: 991px) {
  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    left: auto;
    right: 150px;
  }

  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    top: auto;
    bottom: 0px;
    left: 115px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media (max-width: 1200px) {
  .learning-rules-shape .shape-01 {
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 767px) {
  .section .font-title--md {
    margin-bottom: 25px;
  }

  .font-title--md {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 991px) {

  .learning-rules-starts h2,
  .learning-rules-starts .h2,
  .learning-rules-starts .h2 {
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .learning-rules-item {
    margin-bottom: 30px;
  }
}


@media (max-width: 480px) {

  .learning-rules-item .item-number {
    width: 40px !important;
    height: 40px !important;
    margin-right: 8px !important;
  }

  .learning-rules-item .item-number span {
    font-size: 16px !important;
    line-height: normal !important;
  }
}

.learning-rules-item .item-number span {
  font-size: 22px;
  line-height: 20px;
  color: #1089ff;
  font-weight: 600;
}

.learning-rules-item .item-number {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
  background: #1089ff14;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learning-rules-item {
  display: flex;
  -webkit-flex-basis: 65px;
  flex-basis: 65px;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.learning-rules-item .item-text h6,
.learning-rules-item .item-text .h6 {
  color: #202029;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

@media (max-width: 991px) {
  .learning-rules-item .item-text {
    text-align: left;
  }
}

.learning-rules-item .item-text p {
  font-size: 14px;
  line-height: 21px;
  color: #8f8fa3;
  max-width: 376px;
}

@media (max-width: 991px) {
  .learning-rules-shape .shape-02 {
    bottom: -85px;
    left: auto;
    right: -45px;
  }

  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    left: auto;
    right: 150px;
  }
}

@media (max-width: 991px) {
  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    top: auto !important;
    bottom: 0px;
    left: 115px;
    transform: rotate(90deg);
  }

  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    left: auto !important;
    right: 150px !important;
  }

}

@media (max-width: 1200px) {
  .learning-rules-ends .earning-rules-ends-shape .shape-1 {
    top: 220px;
    right: 65%;
  }
}

.learning-rules-ends .earning-rules-ends-shape img {
  position: absolute;
  z-index: -2;
}

.button-lg {
  padding: 19px 32px;
}

.browse-categories-item {
  margin-top: 20px;
  padding: 30px 0px;
  // margin: 30px 0px;
}


.category-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.category-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.card-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #202029;
}

.card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* Customize shadow properties here */
}

.card-hover:hover {
  transform: scale(1.05);
  /* Zoom by 5% on hover */
}

.card-img-top {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.browse-categories-shape .shape-01 {
  top: -50px;
  left: 0px;
}

.browse-categories-shape img {
  position: absolute;
}

.browse-categories-shape .shape-02 {
  right: 0px;
  bottom: 100px;
}

@media (min-width: 420px) and (max-width: 574px) {
  .browse-categories-shape {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .browse-categories-shape {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .browse-categories-shape {
    display: none;
  }
}

@media (max-width: 420px) {
  .browse-categories-shape {
    display: none;
  }
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black !important;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}