
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
}
li {
    list-style: none;
}
.text-secondary {
    color: #666575 !important;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.zoom-effect {
    position: relative;
    overflow: hidden;
}
.rounded-3 {
    border-radius: 0.5rem !important;
}
.zoom-effect:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
.text-black-50 {
    color: rgba(0, 0, 0, .5) !important;
}
.blog-paragraph {
    color: #908F8D;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    font-family: 'Roboto Slab', serif;
}
.blog-read {
    color: #908F8D;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}
a.blog-read {
    border-bottom: 1px solid #D9D9D8;
    transition: all 0.3s ease-in;
}
a {
    text-decoration: none;
    color: #282828;
}
.image-holder {
    overflow: hidden;
  }
  
  .post-image {
    transition: transform 0.3s ease-in-out; 
  }
  
  .image-holder:hover .post-image {
    transform: scale(1.2);
  }
  

  .card-hover {
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  .card-hover:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Shadow properties */
  }