
<footer class="footer  footer--two ">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <div class="footer__wrapper">
                  <div class="footer__wrapper_logo">
                      <img src="assets/images/logo-techTutors.png" alt="logo" class="img-fluid">
                  </div>
                  <p>
                    <span class="mx-2"><i class="fa-solid fa-location-dot"></i></span>
                    104 arbor oaks, Arlington, Texas, USA, 76013, Arlington, TX, United States, Texas
                  </p>
                  <span>
                    <p> <span class="mx-2"><i class="fa-solid fa-phone"></i></span>   +1-817 405 7214</p>
                  </span>
                  <div class="footer__wrapper_social d-none d-lg-block">
                      <ul>
                          <li>
                              <a href="#">
                                <i class="fa-brands fa-instagram fill-white" ></i>
                              </a>
                          </li>
                          <li>
                            <a href="#">  
                              <i class="fa-brands fa-facebook-f fill-white"></i> 
                           </a>
                        </li>
                          <li>
                              <a href="https://twitter.com/techtutorus">
                                <i class="fa-brands fa-twitter fill-white"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <i class="fa-brands fa-youtube fill-white"></i>
                              </a>
                          </li>

                          <li>
                            <a href="#">
                                <i class="fa-brands fa-linkedin-in fill-white"></i>
                            </a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Company</h6>
                  <ul style="padding: 0;">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="course-search.html">Courses</a></li>
                      <li><a href="#">career</a></li>
                      <li><a href="#">Affiliate</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Support</h6>
                  <ul  style="padding: 0;">
                      <li><a href="#">Help &amp; Supports </a></li>
                      <li><a href="#">Pravacy Polocy</a></li>
                      <li><a href="faq.html">FAQs</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
              <div class="footer__list">
                  <h6>Quick Links</h6>
                  <ul  style="padding: 0;">
                      <li><a href="event-search.html">Events</a></li>
                      <li><a href="become-instructor.html">Become a Instructor</a></li>
                      <li><a href="#">Partnerships</a></li>
                      <li><a href="#">Get the app</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-12 d-block d-lg-none">
              <div class="footer__wrapper_social d-flex my-4">
                  <ul>
                      <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram fill-white" ></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">  
                            <i class="fa-brands fa-facebook-f fill-white"></i> 
                         </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/techtutorus">
                            <i class="fa-brands fa-twitter fill-white"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube fill-white"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in fill-white"></i>
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer__bottom">
      <div class="container">
          <div class="footer__bottom-content">
              <div class="footer__bottom_copyright">
                  <p>© 2024 - Tech Tutorus. All rights reserved</p>
              </div>
              <div class="footer__bottom_topbutton">
                  <a href="#">
                      Go To Top
                      <div class="icon ms-2">
                          <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9 5L5 1L1 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</footer>