
.footer {
  padding-top: 50px;
  background-color: #202020;
}
.footer__wrapper {
  margin-bottom: 30px;
  max-width: 65%;
}
.footer__wrapper_logo {
  margin-bottom: 6px;
  
}
.footer__wrapper_logo img{
 background-color: #fff; 
}



.footer__wrapper p {
  font-size: 16px;
  line-height: 1.5;
  color: #e2e1eb;
}

.footer__wrapper_social {
  margin-top: 24px;
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
.footer__wrapper_social ul {
  display: flex;
  align-items: center;
}

.footer__wrapper_social ul li {
  margin-right: 12px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.footer__wrapper_social ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  transition: 0.3s;
  border: 1px solid #42414b;
  box-sizing: border-box;
  background-color: transparent;
}

.footer__list h6, .footer__list .h6 {
  font-size: 20px;
  line-height: 1.5;
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
}
.footer__list ul li a {
  font-size: 16px;
  line-height: 1.5;
  color: #e2e1eb;
  padding: 4px 0;
  display: block;
  transition: 0.3s;
}
.footer__bottom {
  border-top: 1px solid #4b4b57;
  padding: 10px 0;
}
.footer__bottom-content {
 
  display: flex;
  justify-content: space-between;
}
.footer__bottom_copyright p {
  color: #908fa5;
  line-height: 1.5;
  font-size: 16px;
}
.footer__bottom_topbutton a {
 
  display: flex;
  align-items: center;
  color: #908fa5;
  font-size: 16px;
}
.fill-white {
  color: white;
}