<div class="container-fluid p-0">
  <section class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-col">
          <h4>Top Courses</h4>
          <ul class="links">
            <li><a href="#">AWS</a></li>
            <li><a href="#">Devops</a></li>
            <li><a href="#">python</a></li>
            <li><a href="#">Sale Force</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Popular Courses</h4>
          <ul class="links">
            <li><a href="#">Google Cloud</a></li>
            <li><a href="#">Tableau</a></li>
            <li><a href="#">Saleforce Developer</a></li>
            <li><a href="#">Java Full Stack Developer</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Traning Categories </h4>
          <ul class="links">
            <li><a href="#">CLoud Conputing</a></li>
            <li><a href="#">RPA</a></li>
            <li><a href="#">Big Data</a></li>
            <li><a href="#">OA Testing</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Tech Tutors</h4>
          <ul class="links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>